.container {
  max-width: 1200px;
  margin-top: 5%;
  margin-left: 10%;
  padding: 20px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  color: black;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hotel-image {
  width: 300px;
  height: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.image {
  width: 200%;
  height: 800px;
  width: auto;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9%;
    
  }
  
  .featured-products {
    font-weight: bold;
    margin-top: 30px;
    color: #100f0f;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .card {
    background-color: #6d706d;
    padding: 100px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  
  .image {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
  }
  
  .card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .card p {
    margin: 10px 0;
    font-size: 1rem;
    color: #100f0f;
  }
  
  .card:hover {
    background-color: #e3f3eb;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover h3 {
    color: #00796B;
  }
  
  .card:hover p {
    color: #555;
  }

.rectangle {
    width: 450px;
    height: 33px;
    background-color: #f9f9f9;
    border: 2px solid #020202; 
    border-radius: 5px;
    margin-left: 0px;
  }
  .aqa{
   margin-left: 410.8px;
  }



