.header {
  display: flex;
  justify-content: space-between;
  background-color: #d2c1c1;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 64px;
}

.logo {
  margin: 0;
  font-size: 24px;
  margin-top: 4%;
  display: flex;
  align-items: center;
  padding-left: 20px;color: black;

}

.actions {
  display: flex;
  align-items: center;
  margin-right: 20px;
  list-style-type: none;
  color: black;
}

.actions button {
  margin-left: 10px;
}

.actions button:first-child {
  margin-left: 0;
}