
.search-bar {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-left: 50px;
  background-color: rgb(33, 33, 246);
  margin-left: 50%;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

