/* Faq.css */

.faq-container {
    max-width: 800px;
    margin-top: 5%;
    margin-left: 20%;
    padding: 20px;
  }
.faq-container h1{
    max-width: 800px;
    margin-left: 20%;
    padding: 20px;
    margin-left: 25%;
  }
  
  .faq-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .faq-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
    
  }
  
  .faq-item p {
    font-size: 14px;
  }
  
  /* Add more CSS styles as needed for additional customization */
  